<div class="container">
	<header class="row">
		<h2 class="col col-fill">Simple TODO</h2>
		<button
			class="btn col col-content"
			(click)="addTodo()"
			[disabled]="!!newTodo"
		>
			<fa-icon [icon]="faPlus"></fa-icon>
		</button>
	</header>

	<app-todo-item *ngIf="newTodo" [todo]="newTodo"></app-todo-item>

	<app-todo-item
		*ngFor="let todo of todos | async; trackBy: trackBy"
		[todo]="todo"
	></app-todo-item>
</div>
