:host {
	display: block;
	background-color: rgb(222, 222, 222);
	border-radius: 10px;
	padding: 5px 10px;

	.btn:not(.no-fade) {
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
	&:hover {
		.btn {
			opacity: 1;
		}
	}
}

h3 {
	margin: 0;
	margin-bottom: 0.25em;
}

p {
	margin: 0;
}

h3,
p {
	outline: none;
}

[contenteditable="true"] {
	color: rgb(0, 128, 255);
}

.title {
	margin-bottom: 0.5em;
}
