<div class="row" [formGroup]="form">
	<button
		class="btn no-fade col col-content"
		[class.outline]="!todo.complete"
		(click)="toggleComplete()"
		[disabled]="!todo.id"
	>
		<fa-icon [icon]="faCheck"></fa-icon>
	</button>
	<div class="col col-fill">
		<h3
			[contentEditable]="isEditing"
			formControlName="title"
			class="col-fill"
			placeholder="Enter a TODO"
		></h3>
		<p [contentEditable]="isEditing" formControlName="description"></p>
	</div>

	<ng-container *ngIf="!isEditingAnything">
		<button class="btn btn-red col col-content" (click)="deleteTodo()">
			<fa-icon [icon]="faTrash"></fa-icon>
		</button>
		<button class="btn col col-content" (click)="edit()">
			<fa-icon [icon]="faPencil"></fa-icon>
		</button>
	</ng-container>

	<ng-container *ngIf="isEditing">
		<button class="btn no-fade col col-content" (click)="cancel()">
			<fa-icon [icon]="faXmark"></fa-icon>
		</button>
		<button
			class="btn btn-green no-fade col col-content"
			[disabled]="!form.valid"
			(click)="update()"
		>
			<fa-icon [icon]="faCheck"></fa-icon>
		</button>
	</ng-container>
</div>
