/* You can add global styles to this file, and also import other style files */

html {
	font-family: sans-serif;
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

.row {
	display: flex;
	align-items: center;
	margin-left: -5px;
	margin-right: -5px;

	.col {
		flex: 1 1 0;
		margin-left: 5px;
		margin-right: 5px;
	}

	.col-fill {
		flex: 1 1 auto;
	}

	.col-content {
		flex: 0 0 auto;
	}
}

.btn {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	$color: rgb(0, 128, 255);
	background: $color;
	border: 1px solid $color;
	&.outline {
		color: $color;
	}
	border-radius: 50%;
	color: white;
	cursor: pointer;

	&.btn-green {
		$color: rgb(28, 178, 28);
		background: $color;
		border: 1px solid $color;
		&.outline {
			color: $color;
		}
	}

	&.btn-red {
		$color: rgb(225, 32, 32);
		background: $color;
		border: 1px solid $color;
		&.outline {
			color: $color;
		}
	}

	&.outline {
		background-color: transparent;
	}

	&:disabled {
		background-color: rgb(158, 158, 158);
		border-color: rgb(158, 158, 158);
		color: white;
		cursor: not-allowed;
	}
}
